
.icon-login:before { content: '\e805'; } /* '' */
.icon-bag:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-comment-alt:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */