a {
    color: #8a73bb;
}
#site-name a {
    color: #8a73bb;
}
#cart-wrapper .icon-bag {
    background: #8a73bb;
}
.region-navigation ul.sf-style-none {
    background: #8a73bb;
}
.region-navigation ul.sf-style-none li.menuparent ul {
    background: #8a73bb;
}
.product.teaser .field-commerce-price {
    background: #8a73bb
}
.block-facetapi .ui-slider-range {
    background: #8a73bb
}
.block-facetapi .ui-slider-handle {
    border-color: #8a73bb;
}