a {
    color: #8a73bb;
}
#site-name a {
    color: #8a73bb;
}
#cart-wrapper .icon-bag {
    background: #8a73bb;
}
#main-menu {
    background: #8a73bb;
}
.product.teaser .field-commerce-price {
    background: #8a73bb
}
